{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Sala
{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="font-weight-bold">Lista de Salas Registradas en el Sistema</h3>
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-success" href="{{ path('nueva_sala') }}">
                            <i class="bi bi-plus-square"></i>
                            Añadir Sala
                        </a>
                    </div>
                    {# Numero total de Salas #}
                    <div class="ml-auto p-2 bd-highlight">
                        <a class="btn btn-info">
                            Cantidad Total de Salas: {{ pagination.getTotalItemCount }}
                        </a>
                    </div>
                </div>
                <div class="table">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-active">
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Centro de Conciliación</th>
                                <th>Fecha de Creación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for article in pagination %}
                            <tr {% if loop.index is odd %} class="color" {% endif %}>
                                <td>{{ article.id}}</td>
                                <td>{{ article.nombre }}</td>
                                <td>{{ article.nombreCentro }}</td>
                                <td>{{ article.fechaCreacion|date('d-m-Y')}}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('ver_sala',{'id': article.id}) }}">
                                        <i class="bi bi-eye-fill"></i>
                                        Ver
                                    </a>
                                    <a class="btn btn-info" href="{{ path('editar_sala',{'id':article.id}) }}">
                                        <i class="bi bi-pencil-square"></i>
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">NO SE ENCONTRARON REGISTROS!!!....</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    <ul class="pagination justify-content-center">
                        {{ knp_pagination_render(pagination) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {#
    {{ dump(verSalas) }}
    {{ dump(verUnaSala) }}
    {{ dump(verPoNombre) }}
    {{ dump(verVariosNombre) }}
    #}
{% endblock %}
