{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Departamentos
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card" style="width: 50rem">
        <div class="card-body">
            <h1>Lista de Departamentos</h1>
            <hr>
            <a class="btn btn-success" href="{{ path('departamentos_new') }}">
                <i class="bi bi-plus-square"></i>
                Añadir Departamento
            </a>
            <hr>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for departamento in departamentos %}
                    <tr>
                        <td>{{ departamento.id }}</td>
                        <td>{{ departamento.nombre }}</td>
                        <td>
                            <a class="btn btn-success" href="{{ path('departamentos_show', {'id': departamento.id}) }}">
                                <i class="bi bi-eye-fill"></i> Ver
                            </a>
                            <a class="btn btn-info" href="{{ path('departamentos_edit', {'id': departamento.id}) }}">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No se encontraron registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>






{% endblock %}
