{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Registro Usuarios
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1>Lista de Usuarios</h1>
       <table class="table">
           <thead>
               <tr>
                   <th>Nro</th>
                   <th>Usuario</th>
                   <th>Contraseña</th>
                   <th>Roles Asignados</th>
                   <th>Fecha de Creación</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           {#
           <tbody>
           {% for usuario in usuarios %}
               <tr>
                    <td>{{ usuarios.id }}</td>
                   <td>{{ usuarios.username }}</td>
                   <td>{{ usuarios.password }}</td>
                   <td>{{ usuarios.roles }}</td>
                   <td>{{ usuarios.fecha_creacion }}</td>
                   <td>
                       <a href="">Ver</a>
                       <a href="">Editar</a>
                   </td>
               </tr>
           {% else %}
               <tr>
                   <td colspan="3">No se encontraron regitros</td>
               </tr>
           {% endfor %}
           </tbody>
           #}
       </table>
       <a href="{{ path('Nuevo_Usuario') }}">
           Nuevo Usuario
       </a>

    </div>



    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    {#
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">¿Habilitar Usuraio?</label>
    </div>
    #}


{% endblock %}
