{{ form_start(form) }}

    <form class="form-row" action="">
        <div class="form-group col-md-6">
            {{ form_row(form.nombres) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(form.primerApellido) }}
        </div>
    </form>

    {{ form_widget(form) }}
    {{ form_row(form.foto) }}
    <button class="btn btn-success">
        <i class="fas fa-save"></i>
        {{ button_label|default('Guardar') }}
    </button>
{{ form_end(form) }}