{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Personas|Ver
{% endblock %}

{% block body %}

    {{ dump(verPersona) }}

    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="font-weight-bold">Información de la Persona</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ verPersona.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre(s)</th>
                            <td>{{ verPersona.nombres }}</td>
                        </tr>
                        <tr>
                            <th>Primer Apellido</th>
                            <td>{{ verPersona.primerApellido }}</td>
                        </tr>
                        <tr>
                            <th>Segundo Apellido</th>
                            <td>{{ verPersona.segundoApellido }}</td>
                        </tr>
                        <tr>
                            <th>Documento de Identidad</th>
                            <td>{{ verPersona.numeroDocumento }}</td>
                        </tr>
                        <tr>
                            <th>Expedido</th>
                            <td>{{ verPersona.expedido }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de Nacimiento</th>
                            <td>{{ verPersona.fechaNacimiento|date("d/m/Y") }}</td>
                        </tr>
                        <tr>
                            <th>Género</th>
                            <td>{{ verPersona.genero }}</td>
                        </tr>
                        <tr>
                            <th>Correo Electronico</th>
                            <td>{{ verPersona.correo }}</td>
                        </tr>
                        <tr>
                            <th>Teléfono o Celular</th>
                            <td>{{ verPersona.telefono }}</td>
                        </tr>
                        <tr>
                            <th>Grado Academico</th>
                            <td>{{ verPersona.gradoAcademico }}</td>
                        </tr>
                        <tr>
                            <th>Domicilio</th>
                            <td>{{ verPersona.domicilio }}</td>
                        </tr>
                        <tr>
                            <th>Departamento</th>
                            <td>{{ verPersona.departamento.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Fotografia</th>
                            <td>{{ verPersona.foto }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <button class="btn">
                    <a class="btn btn-primary" href="{{ path('persona_index') }}">
                        <i class="bi bi-arrow-return-left"></i>
                        Volver
                    </a>
                    <a class="btn btn-success" href="{{ path('editar_persona', {'id': verPersona.id}) }}">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                    </a>
                    {{ include('persona/_eliminar.html.twig') }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}

