{% extends 'base.html.twig' %}

{% block title %}Agenda index{% endblock %}

{% block body %}
    <h1>Agenda index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Materia</th>
                <th>Fecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td>{{ agenda.id }}</td>
                <td>{{ agenda.usuario }}</td>
                <td>{{ agenda.materia }}</td>
                <td>{{ agenda.fecha ? agenda.fecha|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('agenda_show', {'id': agenda.id}) }}">show</a>
                    <a href="{{ path('agenda_edit', {'id': agenda.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agenda_new') }}">Create new</a>
{% endblock %}
