{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <h1>Agenda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agenda.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ agenda.usuario }}</td>
            </tr>
            <tr>
                <th>Materia</th>
                <td>{{ agenda.materia }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ agenda.fecha ? agenda.fecha|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agenda_index') }}">back to list</a>

    <a href="{{ path('agenda_edit', {'id': agenda.id}) }}">edit</a>

    {{ include('agenda/_delete_form.html.twig') }}
{% endblock %}
