{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Actividad|Ver
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="font-weight-bold">Detalles de la Actividad</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Nro</th>
                            <td>{{ actividad.id }}</td>
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ actividad.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{{ actividad.fecha ? actividad.fecha|date('d-m-Y') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <button class="btn">
                    <a class="btn btn-primary" href="{{ path('actividad_index') }}">
                        <i class="bi bi-arrow-return-left"></i>
                        Volver
                    </a>
                    <a class="btn btn-success" href="{{ path('actividad_edit', {'id': actividad.id}) }}">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                    </a>
                    {{ include('actividad/_delete_form.html.twig') }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
