{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">
        <i class="fas fa-save"></i>
        {{ button_label|default('Guardar') }}
    </button>

{{ form_end(form) }}


{# {{ form_widget(form.age) }} #}

    {#
    {{ form_row(form.nombre) }}
    <h3>Salas</h3>
    <ul class="sala" data-prototype="{{ form_widget(form.sala.vars.prototype)|e('html_attr') }}">
        {% for sala in form.sala%}
            <li>{{ form_row(sala.nombre) }}</li>
        {% endfor %}
    </ul>
    <button type="butoon" class="add_item_link btn btn-success" data-collection-holder-class="sala">
        Añadir sala
    </button>
    #}


